<html lang="en">
<head>
    <link rel="stylesheet" href="style.css"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><SHOPSMOLL className="COM"></SHOPSMOLL></title>
</head>
<body>
    <div class='grid-container'>
        <header class= 'header'>
            <div class='brand'>
                <a href="index.html">SHOPSMOLL</a>
            </div>
            <div class='header-links'>
                <a href="cart.html">Cart</a>
                <a href="login">Login</a>
            </div>
        </header>
        <aside>
            Shopping Categories
        </aside>
        <main>
            <ul>
                <li>Porduct 1</li>
                <li>Porduct 2</li>
                <li>Porduct 3</li>
                <li>Porduct 4</li>
                <li>Porduct 5</li>
                <li>Porduct 6</li>
                <li>Porduct 7</li>
                
            </ul>
        </main>
        <footer>
            All right reserved.
        </footer>
    </div>
    
</body>
</html>